doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title JailBreak App
    link(href='/css/app.css', rel='stylesheet')
  body
    .container.no-gutter
      #map-container
      
    .container.main-content
      .row.row-centered
        .col-md-9.col-centered
            h1 #{team.name}
            h2 #{team.members}

            a.btn.btn-success(href='/')
              span.glyphicon.glyphicon-chevron-left
              |  Back
      
    .container      
      .row.row-centered
        .col-md-9.col-centered
          .panel.panel-default
            table.table.table-bordered.table-striped
              thead
                th.col-md-6 Place
                th.col-md-3 Time
                th.col-md-3 Dist.
              tbody
              if (locations.length)
                each location in locations
                  tr
                    td #{location.place}
                    td
                      span(data-livestamp='#{location.timestamp}')
                    td #{location.distance} km

    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCOSGdGETZCnG79ZoWuq1JNi3aurSHMU0A')
    script(src='/js/app.js')
    
    script.
      $( document ).ready(function() {
          TrackingMap.init('#map-container');
          TrackingMap.plot("#{team.id}");
      });
