include ../mixins/pagination.jade
extends ../layout.jade

block content
  h1 Teams
  .row
    .col-md-8
      .panel.panel-default
        table.table.table-bordered.table-striped
          thead
            th.col-md-4 Name
            th.col-md-4 Members
            th.col-md-3.text-center Action
          tbody
          if (teams.length)
            each team in teams
              tr
                td #{team.name}
                td #{team.members}
                td.text-center
                  a.btn.btn-success.btn-xs(href='/admin/locations/new/#{team.id}')
                    span.glyphicon.glyphicon-screenshot
                    |  Location
                  |  
                  a.btn.btn-info.btn-xs(href='/admin/teams/edit/#{team.id}')
                    span.glyphicon.glyphicon-edit
                    |  Edit
                  |  
                  if user.isAdmin
                    a.btn.delete-confirm.btn-danger.btn-xs(href='#', data-id='#{team.id}')
                      span.glyphicon.glyphicon-remove
                      |  Del
                    
      .text-center
        +pagination(pages, page, '/admin/teams/')
    
    .col-md-4
      .well
        a.btn.btn-info(href='/admin/teams/new') New Team
        
    #delete-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            a.close(data-dismiss='modal') ×
            h3 Delete Team
          .modal-body
            p Are you sure you want to delete this team
          .modal-footer
            form#delete-modal-form(role='form', method='post', action='/admin/teams/del')
              button.btn.btn-success(data-dismiss='modal') Canel
              button.btn.btn-danger(type='submit') Delete

block js
  script.
    $('.delete-confirm').click(function(){
      var id = $(this).data('id');
      $('#delete-modal-form').attr('action','/admin/teams/del/'+id);
      $('#delete-modal').modal();
    });
