include ../mixins/pagination.jade
extends ../layout.jade

block content
  h1 Users

  .row
    .col-md-8
      .panel.panel-default
        table.table.table-bordered.table-striped
          thead
            th.col-md-1 Admin
            th.col-md-3 Name
            th.col-md-3 Email
            th.col-md-3 Last Login
            th.col-md-3.text-center Action
          tbody
          if (users.length)
            each user in users
              tr
                td.text-center
                  input(type='checkbox', disabled='true', checked=user.isAdmin?"checked":undefined)
                td #{user.fullName}
                td #{user.email}
                td
                  span(data-livestamp='#{user.lastLogin}')
                td.text-center
                  a.btn.btn-info.btn-xs(href='/admin/users/edit/#{user._id}')
                    span.glyphicon.glyphicon-edit
                    |  Edit
                  |  
                  a.btn.btn-danger.btn-xs.delete-confirm(href='#', data-id='#{user._id}')
                    span.glyphicon.glyphicon-remove
                    |  Del
                    
      .text-center
        +pagination(pages, page, '/admin/users/')
    
    .col-md-4
      .well
        a.btn.btn-info(href='/admin/users/new') New User

    #delete-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            a.close(data-dismiss='modal') ×
            h3 Delete Team
          .modal-body
            p Are you sure you want to delete this user
          .modal-footer
            form#delete-modal-form(role='form', method='post', action='/admin/users/del')
              button.btn.btn-success(data-dismiss='modal') Canel
              button.btn.btn-danger(type='submit') Delete

block js
  script.
    $('.delete-confirm').click(function(){
      var id = $(this).data('id');
      $('#delete-modal-form').attr('action','/admin/users/del/'+id);
      $('#delete-modal').modal()  
    })
