extends ./layout.jade

block content
  h1 Leaderboard
  .row
    .col-md-9
      .panel.panel-default
        table.table.table-bordered.table-striped
          thead
            th.col-md-3 Team Name
            th.col-md-4 Last Location
            th.col-md-2 Last Contacted
            th.col-md-2 Dist.
          tbody
          if (leaderboard.length)
            each team in leaderboard
              tr
                td #{team._id.name}
                td #{team.place}
                td 
                  span(data-livestamp='#{team.timestamp}')
                td #{team.distance} km
    
    .col-md-3
      .well
        .form-group
          label(for='team-select') Update Teams Location:
          select#team-select.form-control
            each team in leaderboard
              option(value=team._id._id) #{team._id.name}

block js
  script.
    $("#team-select").change(function(){
        var id = $(this).find(':selected').val();
        window.location.href = '/admin/locations/new/' + id;
    });
